.helpmenow_textalignright {
    text-align:right;
}

.helpmenow_floatleft {
    float:left;
}

.helpmenow_popup {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*background-color: white;*/
}

.helpmenow_chat {
    /*position: absolute;*/
    /*top: 1em;*/
    /*left: 1em;*/
    /*right: 1em;*/
    /*bottom: 1em;*/
    /*padding: .5em;*/
    /*overflow: auto;*/
    /*border: 1px solid black;*/
}

.helpmenow_last_refresh_div {
    font-size:small;
}

.helpmenow_errorlog {
    max-width:700px;
    overflow-x:scroll;
}

/* Fix for queue form */
#fgroup_id_buttonar {
    text-align: center;
}

/* Fix for popout */
#page-blocks-helpmenow-login #page-content {
    min-width: 0px;
}
#page-blocks-helpmenow-login #page-content #region-main-box {
    left: 0px;
    width: 100%;
}
#page-blocks-helpmenow-login .side-pre-only #page-content #region-post-box {
    margin-left: 0px;
    float: none;
    left: 0px;
}
#page-blocks-helpmenow-login #page-content #region-post-box {
    margin-left: 0px;
    float: none;
    left: 0px;
}
#page-blocks-helpmenow-login #page-content #region-main-wrap {
    width: 100%;
    float: none;
    position: static;
}

#page-blocks-helpmenow-login.side-pre-only #page-content #region-main {
    margin-left: 0px;
}

#page-blocks-helpmenow-login .navbar, #page-blocks-helpmenow-login #page-header {
    display: none;
}

#page-blocks-helpmenow-login {
    padding-top: 15px;
}